# Using Java-style braces in 
[*.cs]
csharp_new_line_before_open_brace = none
csharp_space_after_keywords_in_control_flow_statements = true
csharp_new_line_before_else = false

# Use camelCase for variables and methods (but NOT public fields)
dotnet_naming_rule.members_should_be_camel_case.severity = suggestion
dotnet_naming_rule.members_should_be_camel_case.symbols = non_public_members
dotnet_naming_rule.members_should_be_camel_case.style = camel_case_style

# Only apply rule to non-public fields/locals/params
dotnet_naming_symbols.non_public_members.applicable_kinds = field, local, parameter
dotnet_naming_symbols.non_public_members.applicable_accessibilities = private, protected, internal, protected_internal, private_protected

# camelCase style
dotnet_naming_style.camel_case_style.capitalization = camel_case

# Prefix private variables with _
dotnet_naming_rule.private_fields_should_have_underscore.severity = suggestion
dotnet_naming_rule.private_fields_should_have_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_should_have_underscore.style = prefix_underscore_style

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_style.prefix_underscore_style.required_prefix = _
dotnet_naming_style.prefix_underscore_style.capitalization = camel_case

# Use PascalCase for enum members
dotnet_naming_rule.enum_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.enum_members_should_be_pascal_case.symbols = enum_members
dotnet_naming_rule.enum_members_should_be_pascal_case.style = pascal_case_style

# Enum members are constant fields under the hood
dotnet_naming_symbols.enum_members.applicable_kinds = field
dotnet_naming_symbols.enum_members.required_modifiers = const

dotnet_naming_style.pascal_case_style.capitalization = pascal_case